* {
  --main-font-family: futura-pt, sans-serif;
  --main-font-weight: 400;
  --main-font-style: book;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  max-width: 100%;
}

html {
  overflow-y: scroll;
  --text-color: #3e3e3e;
  --background-color-white: #f2f2f2;
  --background-color-blue: #b3e2ff;
  --color-green: #6b9846;
  --color-green: #73b349;
}

body {
  background-color: #b3e2ff;
}

/* Menu navigation*/

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-color: var(--background-color-white);
  font-size: 25px;
}

.logo {
  color: var(--text-color);
  font-weight: 600;
}
.logo:hover {
  text-decoration: none;
}
.navbar-brand img {
  height: 50px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  font-weight: 600;
  float: right;
  text-align: left;
}

#nav-bar a:hover {
  color: var(--color-green);
}

#nav-bar a:active {
  color: var(--color-green);
}

/* Footer og signup */

footer {
  background-image: url('../content/img/Footer.png');
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.newsletter {
  padding: 80px 0;
  /*background: #fff;*/
}

.newsletter .content {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.newsletter .content h2 {
  color: black;
  margin-bottom: 40px;
}

.newsletter .content .form-control {
  height: 50px;
  border-color: #ffffff;
  border-radius: 0;
  background-color: #f2f2f2;
}

.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}

.newsletter .content .btn {
  min-height: 50px;
  border-radius: 0px 0px 0px 0px;
  background: #73b349;
  color: #fff;
  font-weight: 600;
}

#result img {
  height: 50px;
  margin-top: 10px;
}

/* Forside */

.index-head {
  position: relative;
  background-color: black;
  height: 55vh;
  min-height: 20rem;
  overflow: hidden;
}

.index-head video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.index-head .container {
  position: relative;
  z-index: 2;
}

.index-head .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titel {
  font-size: 100px;
  margin-bottom: 30px;
}

#news {
  text-align: center;

  margin-top: 50px;
}

.minecraft-update {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
}
.minecraft-pics {
  margin-top: 20px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.minecraft-pics img {
  background-color: var(--text-color);
  opacity: 0.65;
  z-index: 1;
  border: 12px solid white;
}

.minecraft-pics a {
  text-decoration: none;
  color: black;
}

.minecraft-pics:hover {
  transform: scale(1.05);
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

@media (min-width: 400px) {
  .center-text p {
    /* Lille size for undertekst*/
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .center-text p {
    /* Mellem size for undertekst*/
    font-size: 0px;
  }
}

@media (min-width: 1150px) {
  .center-text p {
    /* Max size for undertekst*/
    font-size: 15px;
  }
}

@media (min-width: 400px) {
  .center-text h3 {
    /* Lille size for overskrift */
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .center-text h3 {
    /* Mellem size for overskrift */
    font-size: 20px;
  }
}

@media (min-width: 1150px) {
  .center-text h3 {
    /* Max size for overskrift */
    font-size: 25px;
  }
}

/*Tutorials*/

.overskift {
  text-align: center;
  margin: 50px 0px;
  font-size: 60px;
}

.mellemskrift {
  text-align: center;
  margin-bottom: 30px;
}

.tutvideo iframe {
  width: 100%;
}

.videoforklaring {
  background-color: white;
}
.videoforklaring p {
  font-size: 20px;
}

.videoforklaring h2 {
  font-size: 40px;
}
.dyr {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.animals img {
  width: 200px;
}
.animals {
  background-color: white;
  padding: 0px 30px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.animals p {
  font-size: 20px;
}
.gris p {
  margin-top: 60px;
}

.mob {
  padding-top: 20px;
}

@media (min-width: 400px) {
  .dyr {
    /* Lille size for dyr*/
    display: block;
  }
  .animals img {
  }
}

@media (min-width: 1000px) {
  .dyr {
    /* Max size for dyr*/
    display: flex;
  }
}

/*Learning*/
.learn p {
  font-size: 25px;
  text-align: left;
  margin: 0 4%;
  margin-bottom: 2%;
}
.learn h2 {
  text-align: center;
  font-size: 50px;
  margin: 2% 0;
}
.liste-learning {
  margin: 0 10%;
}

.overskrifth3 {
  text-align: left;
  padding: 10px 0px;
  font-size: 30px;
}

.banner_link {
  border: 2px solid black;
  height: 615px;
  width: 960px;
}

/*Forum*/

.overskift2 {
  text-align: center;
  padding: 50px 0px;
  font-size: 60px;
}

.forum-links {
  display: block;
  color: black;
  background: rgb(242, 242, 242);
  background: linear-gradient(
    90deg,
    rgba(207, 207, 207, 0) 0%,
    rgba(242, 242, 242, 0.5) 50%,
    rgba(207, 207, 207, 0) 100%
  );
}

.forum-links:not(h3, p) {
  opacity: 0.8;
}

.forum-links:hover {
  color: var(--color-green);
}

.text-box {
  background-color: white;
  min-height: 10vh;
}

.text-box p {
  font-size: 25px;
}

.text-box img {
  max-width: 20vw;
}

.facebook-c {
  background: white !important;
  width: 100%;
}
